# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local directory, changes inside this directory to be ignored 
# if user executes, ./configure.sh in main folder, a fresh copy of this 
# directory is generated which shouldnt be committed everytime.
./client/pb/mesos
